:root {
  --white: #d8e9a8;
  --black: #191a19;
  --primary: #1e5128;
  --secondary: #4e9f3d;
}

* {
  font-family: "Miasma", sans-serif;
  font-size: large;
}

body {
  background-color: var(--black);
  color: var(--black);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: var(--primary);
}

body::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

/* Topbar */
.topbar {
  width: 100%;
  height: 80px;
  position: absolute;
  background-color: var(--primary);
}

.topbar-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.topbar-brand-text {
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Sidebar */
.sidebar {
  width: 80px;
  height: 100%;
  position: fixed;
  background-color: var(--primary);
}

.sidebar-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  width: 80px;
  color: var(--black);
  text-decoration: none;
  font-size: 20px;
}

.sidebar-logo {
  height: 75px;
  width: 75px;
}

.sidebar-a:not(#logo):hover {
  background-color: var(--secondary);
}

.fa {
  font-size: x-large;
}

/* Main */
main {
  display: inline-flex;
  margin-left: 80px;
  margin-top: 80px;
  align-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container {
  margin: 10px 10px 10px 10px;
  width: 250px;
  height: 350px;
  perspective: 800px;
}

.container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background-size: 250px 350px;
}

#a.front {
  background-image: url(../Images/Clothes/restlesstxtshirt.png);
}

#b.front {
  background-image: url(../Images/Clothes/333flameengulfedskullsshirt.png);
}

#c.front {
  background-image: url(../Images/Clothes/dragonshrt.png);
}

#d.front {
  background-image: url(../Images/Clothes/weightlessbubbles_shirt.png);
}

#e.front {
  background-image: url(../Images/Clothes/cap1.png);
}

.back {
  background-color: var(--primary);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back button {
  border: none;
  color: var(--black);
  background-color: var(--secondary);
  cursor: pointer;
  width: 100%;
  height: 20%;
  opacity: 0.7;
  margin-top: auto;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  font-size: larger;
}

.back button:hover {
  opacity: 1;
}

.back h1 {
  font-size: x-large;
}

.back h2 {
  font-size: xx-large;
}

/* Footer */
footer {
  margin-left: 80px;
}

.FooterContainer {
  width: 100%;
  background-color: var(--primary);
}

.SocialIcons {
  display: flex;
  justify-content: center;
}

.SocialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: var(--black);
  margin: 10px;
  border-radius: 50%;
}

.SocialIcons a i {
  font-size: 2rem;
  color: var(--secondary);
  opacity: 0.9;
}

/* JUST DOESNT WORK NO REASON PR*/
.SocialIcons a:hover {
  color: var(--white);
  transition: 0.5s;
}

.SocialIcons a:hover i {
  color: var(--white);
  transition: 0.5s;
}

.FooterNav {
  margin: 30px 0;
}

.FooterNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-right: 40px;
}

.FooterNav ul li a {
  color: var(--black);
  margin: 20px;
  text-decoration: none;
  font-size: 1.2em;
  opacity: 0.7;
  transition: 0.5s;
}

.FooterNav ul li a:hover {
  opacity: 1;
}

.FooterBot {
  background-color: var(--secondary);
  padding: 20px;
  text-align: center;
}

.FooterBot p {
  color: var(--black);
  font-weight: lighter;
}

.Designer {
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
