:root {
  --text-primary: #DCD7C9;
  --bg-primary: #2C3639;
  --bg-secondary: #3F4E4F;
  --bg-third: #A27B5C;
}

body {
  background-color: var(--bg-primary);
  color:  var(--text-primary);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
  background: var(--bg-third);
}

main {
  margin-left: 80px;
  padding: 10px;
}

.topbar {
  width: 100vw;
  height: 80px;
  position: fixed;
  background-color: var(--bg-secondary);
}

.topbar-ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.topbar-logo {
  min-width: 100%;
  height: 80px;
  margin-left: 80px;
}

.search-bar {
  margin-left: 50vw;
  border-radius: 10px;
  min-width: 300px;
  min-height: 26px;
}

.search-button {
  border-radius: 10px;
}

.bx.bx-search {
  font-size: x-large;
}

.bx {
  font-size: xx-large;
}

.sidebar {
  width: 80px;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-secondary);
}

.sidebar-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  width: 80px;
  color: var(--text-primary);
  text-decoration: none;
}