:root {
  --white: #d8e9a8;
  --black: #191a19;
  --primary: #1e5128;
  --secondary: #4e9f3d;
}

* {
  font-family: "Miasma", sans-serif;
  font-size: large;
}

body {
  background-color: var(--black);
  color: var(--black);
  margin: 0;
  padding: 0;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: var(--primary);
}

body::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

/* Topbar */
.topbar {
  width: 100%;
  height: 80px;
  position: sticky;
  background-color: var(--primary);
}

.topbar-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar-logo {
  height: 80px;
  width: 80px;
}

.topbar-brand-text {
  height: 80px;
}

.nothing {
  height: 80px;
  width: 80px;
}

/* Team */
main {
  box-sizing: border-box;
  text-decoration: none;
}

.team {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.team-content {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  gap: 2rem;
  text-align: center;
  margin-bottom: 40px;
}

.title h1 {
  color: var(--white);
  font-size: 4rem;
  text-align: center;
}

.team-content img {
  width: 70%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 15px;
}

.box {
  padding: 16px;
  background: var(--secondary);
  border-radius: 15px;
  transition: all 0.38s ease;
  color: var(--black);
}

.box h3 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 8px;
}

.box h5 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 15px;
  letter-spacing: 2px;
}

.icons i {
  display: inline-block;
  font-size: 30px;
  margin: 0 8px;
  transition: all 0.38s ease;
  color: var(--black);
}

.icons i:hover {
  transform: scale(1.2);
}

.box:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

/* Footer */
footer {
  margin-left: 80px;
}

.footer-container {
  width: 100%;
  background-color: var(--primary);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  text-decoration: none;
  padding: 10px;
  background-color: var(--black);
  margin: 10px;
  border-radius: 50%;
}

.social-icons a i {
  font-size: 2rem;
  color: var(--secondary);
  opacity: 0.9;
}

/* JUST DOESNT WORK NO REASON PR*/
.social-icons a:hover {
  color: var(--white);
  transition: 0.5s;
}

.social-icons a:hover i {
  color: var(--white);
  transition: 0.5s;
}

.footer-nav {
  margin: 30px 0;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-right: 40px;
}

.footer-nav ul li a {
  color: var(--black);
  margin: 20px;
  text-decoration: none;
  font-size: 1.2em;
  opacity: 0.7;
  transition: 0.5s;
}

.footer-nav ul li a:hover {
  opacity: 1;
}

.footer-bot {
  background-color: var(--secondary);
  padding: 20px;
  text-align: center;
}

.footer-bot p {
  color: var(--black);
  font-weight: lighter;
}

.designer {
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}